html,
	body {
		padding: 0;
		margin: 0;
		background-color: white;
		/*#eeeeee;*/
	}
	.nav {
		float: left;
		width: 100%;
		background-color: #ccc804;
		/*#c49f09;*/
		/*#0f4f8c;*/
		/*#e5bc16;*/
		height: 100px;
	}
	.nav ul {
		list-style-type: none;
		display: inline-block;
		color: white;
		/*#000;*/
		margin: 0;
		padding: 0;
		font-size: 20px;
	}
	.nav ul li {
		display: inline-block;
		padding: 30px;
		float: left;
		/*border: 1px solid #000;*/
	}
	.nav ul li a {
		text-decoration: none;
		color: inherit;
		display: block;
	}
	.nav ul li a:hover {
		color: red;
	}
	.nav ul li .subnav {
		float: left;
		width: 100px;
		padding-left: 10px;
		position: absolute;
		background-color: green;
		display: none;
	}
	.nav ul li a:hover .subnav {
		display: block;
	}
	.nav ul li .subnav li {
		display: block;
		float: none;
		padding: 10px 0;
	}


.intro{
	float: left;
	display: block;
	margin-left: 5%;
	font-size: 20px;
}


#result {
	float: left;
	display: block;
	width: 100%;
	margin-left: 5%;
}


#result #inputImage{
	float: left;
	display: block;
}


#result #resultTable{
	float: left;
	display: block;
	margin-left: 20px;
}


.sample_images {
	float: left;
	width: 100%;
	margin-left: 5%;
}


.sample_images img {
	float: left;
	display: block;
}


.sample_images span {
	display: block;
	float: left;
	margin-left: 10px;
}
