<!doctype html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<title>Image Recognition API DEMO</title>
</head>

<div class="nav">
		<ul>
			<li><a href="">markovian labs</a></li>
			<li>
				<a href="">Solutions</a>
				<ul class="subnav">
					<li>test</li>
					<li>test</li>
					<li>test</li>
					<li>test</li>
					<li>test</li>
				</ul>
			</li>
			<li>
				<a href="">Products</a>
				<ul class="subnav">
					<li>test</li>
					<li>test</li>
					<li>test</li>
					<li>test</li>
					<li>test</li>
				</ul>
			</li>
			<li><a href="">Talk to Us</a></li>
		</ul>
	</div>

<div class="intro">
	<p>Our models automatically recognize the objects, concepts, color in images.</p>
</div>

<!-- The div for the results -->
<div id="result">
	<img src="{{ url_for('uploaded_file', filename='beagle.jpg') }}" id="dynamic" height="500" width="500">
</div>
<!-- 
<div class="upload_form">
	<form id="uploadform" method="post" enctype="multipart/form-data">
		<input type="file" name="image_file" id="image_file">
	</form>
</div> -->


<div class="sample_images">
	<a href="" class="img1"><img src="{{ url_for('uploaded_file', filename='beagle.jpg') }}" height="80" width="80"></a>
	<a href="" class="img2"><img src="{{ url_for('uploaded_file', filename='pitcher.jpg') }}" height="80" width="80"></a>
	<a href="" class="img2"><img src="{{ url_for('uploaded_file', filename='januverma.jpg') }}" height="80" width="80"></a>
	<span>
		<form id="uploadform" method="post" enctype="multipart/form-data">
			<input type="file" name="image_file" id="image_file">
		</form>
	</span>
</div>

<!-- The div for the results -->
<!-- <div id="result"></div> -->





<!-- Load jQuery -->
<script src="{{ url_for('static', filename='javascript/jquery-2.2.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>

<!-- Load javascript source -->
<script type="text/javascript" src="{{ url_for('static', filename='javascript/image_reco.js') }}"></script>

<!-- Load flask_util_js -->
{{ fujs.js }}


<script type="text/javascript">
// Display the pre-loaded image.
	$(function(){
		$('.img1').click(function(){
			event.preventDefault();
			$('#result').empty();
			$('#result').append('<div id="inputImage"></div>');
			$('#inputImage').append('<img id="dynamic" height="500" width="500">');
			$('#dynamic').attr('src', flask_util.url_for("uploaded_file", {filename: 'beagle.jpg'}));
		});
	});

// Display and compute results for the uploaded image.
	$(function(){
		$('#image_file').change(function(){
			// $('#result').empty();
			event.preventDefault();
			var form_data = new FormData($('#uploadform')[0]);
			$.ajax({
				type: 'POST',
				url: '/upload',
				data: form_data,
				contentType: false,
				processData: false,
				dataType: 'json'
			})
			.success(
				function(data, textStatus, jqXHR){extract_uploaded_file(data, textStatus, jqXHR);})
			.fail(function(data){
				alert('Check file format. The allowed formats are jpg, jpeg, png');
			});
		});
	});
</script>

<div class="nav">
		<ul>
			<li>
				<a href="">About Us</a>
				<ul class="subnav">
					<li>Our Story</li>
					<li>Team</li>
					<li>Careers</li>
				</ul>
			</li>
			<li><a href="">Our Technology</a></li>
			<li><a href="">Contact Info</a></li>
		</ul>
	</div>
